
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$custom-theme-colors:(
    "sdg1" : #e5233d,
    "sdg2" : #dda73a,
    "sdg3" :#4ca146,
    "sdg4" : #c5192d,
    "sdg5" : #ef402c,
    "sdg6" : #27bfe6,
    "sdg7" : #fbc412,
    "sdg8" : #a31c44,
    "sdg9" :  #f26a2d,
    "sdg10" : #e01483  ,
    "sdg11" : #f89d2a  ,
    "sdg12" : #bf8d2c  ,
    "sdg13" : #407f46 ,
    "sdg14" : #1f97d4  ,
    "sdg15" : #59ba48 ,
    "sdg16" : #126a9f ,
    "sdg17" : #13496b

);
:root{
    --bs-body-font-family : 'Oswald', sans-serif;
}

$theme-colors : map-merge($custom-theme-colors, $theme-colors );
@import "../node_modules/bootstrap/scss/bootstrap";